<%-include('adminparts/header.ejs') %>
<body>
 
    <!-- ***** Preloader Start ***** -->
    <!-- <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>   -->
    <!-- ***** Preloader End ***** -->

 
    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="banner header-text">
      <div class="owl-banner owl-carousel">
        <div class="banner-item-01">
          <div class="text-content">
           
            <h2>Welcome to Book Store</h2>
          
          </div>
        </div>
        <div class="banner-item-02">
          <div class="text-content">
           
            <h2>Welcome to Book Store</h2>
            
          </div>
        </div>
        <div class="banner-item-03">
          <div class="text-content">
           
            <h2>Welcome to Book Store</h2>
            
          </div>
        </div>
      </div>
    </div>
    <!-- Banner Ends Here -->
    <div class="col-md-12">
      <div class="filters-content">
          <div class="row grid">
              <div class="col-lg-4 col-md-4 all des">
                <div class="product-item">
                  <a href="#"><img src="/images/book-5.png"height ="350px" alt=""></a>
                  <div class="down-content">
                    <a href="/details"><h4>c++</h4></a>
                    <p>ISBN:960-425-059-0</p> 
                  
                   <div> <span> <a href="/details" class="filled-button">Delete</a></span></div>
                   <div> <span> <a href="/details" class="filled-button">update</a></span></div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 all dev">
                <div class="product-item">
                  <a href="#"><img src="/images/book-4.png"height ="350px" alt=""></a>
                  <div class="down-content">
                    <a href="/details"><h4>c++</h4></a>
                    <p>ISBN:960-425-059-0</p> 
                  
                    <div> <span> <a href="/details" class="filled-button">Delete</a></span></div>
                    <div> <span> <a href="/details" class="filled-button">update</a></span></div>               
               
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 all gra">
                <div class="product-item">
                  <a href="#"><img src="/images/book-3.png"height ="350px" alt=""></a>
                  <div class="down-content">
                    <a href="/details"><h4>express</h4></a>
                   
                   
                    <p>ISBN:960-425-059-0</p> 
                    <div> <span> <a href="/details" class="filled-button">Delete</a></span></div>
                    <div> <span> <a href="/details" class="filled-button">update</a></span></div>                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 all gra">
                <div class="product-item">
                  <a href="/details"><img src="/images/book-2.png" height ="350px"alt=""></a>
                  <div class="down-content">
                    <a href="/details"><h4>php</h4></a>
                    <p>ISBN:960-425-059-0</p> 
                   
                    <div> <span> <a href="/details" class="filled-button">Delete</a></span></div>
                    <div> <span> <a href="/details" class="filled-button">update</a></span></div>                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 all dev">
                <div class="product-item">
                  <a href="#"><img src="/images/book-8.png" height ="350px"alt=""></a>
                  <div class="down-content">
                    <a href="/details"><h4>html</h4></a>
                    <p>ISBN:960-425-059-0</p> 
                  
                    <div> <span> <a href="/details" class="filled-button">Delete</a></span></div>
                    <div> <span> <a href="/details" class="filled-button">update</a></span></div>                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 all des">
                <div class="product-item">
                  <a href="#"><img src="/images/book-10.png" height ="350px"alt=""></a>
                   <div class="down-content">
                    <a href="/details"><h4>Javascript</h4></a>
                   <p>ISBN:960-425-059-0</p> 
                   <div> <span> <a href="/details" class="filled-button">Delete</a></span></div>
                   <div> <span> <a href="/details" class="filled-button">update</a></span></div>                  </div> 
                </div>
              </div>
          </div>
      </div>
    </div>

  
    

    <%-include('adminparts/footer.ejs') %>
   
  
