<%-include('parts/header.ejs') %>
<body>
 
    <!-- ***** Preloader Start ***** -->
    <!-- <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>   -->
    <!-- ***** Preloader End ***** -->

 
    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="banner header-text">
      <div class="owl-banner owl-carousel">
        <div class="banner-item-01">
          <div class="text-content">
           
            <h2>Welcome to Book Store</h2>
          
          </div>
        </div>
        <div class="banner-item-02">
          <div class="text-content">
           
            <h2>Welcome to Book Store</h2>
            
          </div>
        </div>
        <div class="banner-item-03">
          <div class="text-content">
           
            <h2>Welcome to Book Store</h2>
            
          </div>
        </div>
      </div>
    </div>
    <!-- Banner Ends Here -->
    <div class="col-md-12">
      <div class="filters-content">
          <div class="row grid">
              <div class="col-lg-4 col-md-4 all des">
                <div class="product-item">
                  <a href="#"><img src="/images/book-5.png"height ="350px" alt=""></a>
                  <div class="down-content">
                    <a href="/details"><h4>Nodejs</h4></a>
                    <h6>$18.25</h6>
                    <p>Lorem ipsume dolor sit amet, adipisicing elite. Itaque, corporis nulla aspernatur.</p>
                    <ul class="stars">
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                    </ul>
                    <span>Reviews (12)</span>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 all dev">
                <div class="product-item">
                  <a href="#"><img src="/images/book-4.png"height ="350px" alt=""></a>
                  <div class="down-content">
                    <a href="/details"><h4>c++</h4></a>
                    <h6>$16.75</h6>
                    <p>Lorem ipsume dolor sit amet, adipisicing elite. Itaque, corporis nulla aspernatur.</p>
                    <ul class="stars">
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                    </ul>
                    <span>Reviews (24)</span>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 all gra">
                <div class="product-item">
                  <a href="#"><img src="/images/book-3.png"height ="350px" alt=""></a>
                  <div class="down-content">
                    <a href="/details"><h4>C#</h4></a>
                    <h6>$32.50</h6>
                    <p>Lorem ipsume dolor sit amet, adipisicing elite. Itaque, corporis nulla aspernatur.</p>
                    <ul class="stars">
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                    </ul>
                    <span>Reviews (36)</span>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 all gra">
                <div class="product-item">
                  <a href="/details"><img src="/images/book-2.png" height ="350px"alt=""></a>
                  <div class="down-content">
                    <a href="/details"><h4>Ajax</h4></a>
                    <h6>$24.60</h6>
                    <p>Lorem ipsume dolor sit amet, adipisicing elite. Itaque, corporis nulla aspernatur.</p>
                    <ul class="stars">
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                    </ul>
                    <span>Reviews (48)</span>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 all dev">
                <div class="product-item">
                  <a href="#"><img src="/images/book-8.png" height ="350px"alt=""></a>
                  <div class="down-content">
                    <a href="/details"><h4>html</h4></a>
                    <h6>$18.75</h6>
                    <p>Lorem ipsume dolor sit amet, adipisicing elite. Itaque, corporis nulla aspernatur.</p>
                    <ul class="stars">
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                    </ul>
                    <span>Reviews (60)</span>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 all des">
                <div class="product-item">
                  <a href="#"><img src="/images/book-10.png" height ="350px"alt=""></a>
                  <div class="down-content">
                    <a href="/details"><h4>css</h4></a>
                    <h6>$12.50</h6>
                    <p>Lorem ipsume dolor sit amet, adipisicing elite. Itaque, corporis nulla aspernatur.</p>
                    <ul class="stars">
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                    </ul>
                    <span>Reviews (72)</span>
                  </div>
                </div>
              </div>
          </div>
      </div>
    </div>

    <div class="best-features">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>About Book Store</h2>
            </div>
          </div>
          <div class="col-md-6">
            <div class="left-content">
              <h4>Looking for the best books?</h4>
              <p><a rel="nofollow" href="#" target="_parent">This store</a> is free to use for your business websites. However, you have no permission to redistribute the downloadable ZIP file on any template collection website. <a rel="nofollow" href="https://templatemo.com/contact">Contact us</a> for more info.</p>
              
              <a href="about.html" class="filled-button">Read More</a>
            </div>
          </div>
         
        </div>
      </div>
    </div>


    

    <%-include('parts/footer.ejs') %>
   
  
