
<%-include('parts/header.ejs') %>
<br>

<br>
<br>
<br>
<br>
<br>
<div class="container">
<div class="text-center" style="padding:50px 0">
	<div class="logo">login</div>
	<!-- Main Form -->
	<div class="login-form-1">
		<form id="login-form" class="text-left" action="api/users/Login" method="POST">
			<div class="login-form-main-message"></div>
			<div class="main-login-form">
				<div class="login-group">
					<div class="form-group">
						<label for="lg_username" class="sr-only">Email</label>
						<input type="text" class="form-control" id="lg_username" name="email" placeholder="email">
					</div>
					<div class="form-group">
						<label for="lg_password" class="sr-only">Password</label>
						<input type="password" class="form-control" id="lg_password" name="password" placeholder="password">
					</div>
					
				</div>
				<!-- <button type="submit" class="login-button">login</button> -->
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">login</button>
               </div>
			</div>
			<div class="etc-login-form">
				<!-- <p>forgot your password? <a href="#">click here</a></p> -->
				<p>new user? <a href="/signup">create new account</a></p>
			</div>
		</form>
	</div>
	<!-- end:Main Form -->
</div>
</div>

<%-include('parts/footer.ejs') %>


 
 

